* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.area-servicos {
  display: flex;
  width: 100vw;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.servicos-titulo{
  color: #af5c5c;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.area-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;

}
.card {
  
  min-width: 250px; /* Largura mínima para cada card */
  text-align: center;
  border: 1px solid #a97272;
  border-radius: 8px;

}
.banner-img {
  width: 100%;
  height: 200px;
}